@import url("https://fonts.googleapis.com/css?family=Inter:400,500|Noto+Sans:400,500");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap");

.seat-bar {
  width: 100%;
  height: 50px;
  font-family: "Inter";
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    vertical-align: center;
  display: flex;
  top: 0px;
  position: absolute;
  padding: 20px 0px 20px 0px;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
  gap: 120px;
}

.seat-left {
  font-size: 28px;
  display: flex;
  position: absolute;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
  gap: 5px;
  transform: translate(-152px, 0)
}

.seat-right {
  font-size: 28px;
  display: flex;
  position: absolute;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
  gap: 5px;
  transform: translate(152px, 0)
}

.seat-textbox {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
}

.seat-arrow {
  width: auto;
  height: 40px;
}

.seattable {
            width: 100%;
            height: 100%;
            overflow: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-sizing: border-box;
}

.seat-line {
  width: 100%;
  height: 60px;
  background-color: #F1F1F1;
  position: relative;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
}

.seat-each {
  width: 60px;
  height: 60px;
  line-height: 58px;
  border-radius: 10px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
  vertical-align: center;
  border: 3px solid black;
  box-sizing: border-box;
}

.seat-blank {
  width: 110px;
  height: 60px;
}


.seat-middle {
  width: 110px; /* adjust width if necessary */
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
}

#flip {
  transform: scaleX(-1);
}
